<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skf.alarm.mapper.ComponentMapper">

	<update id="updateDangerLevel">
		UPDATE SKF_CMPT SET
		CMPT_DANGER_LEVEL = #{dangerLevel, jdbcType=FLOAT},
		CMPT_TOTAL_VALUE = #{totalValue, jdbcType=FLOAT}
		WHERE CMPT_CODE = #{componentCode, jdbcType=VARCHAR}
	</update>

</mapper>