.pagination li{
  cursor: pointer;
  margin: 0 2px;
  background-color: #556075;
  padding-left: 5px;
  padding-right: 5px;
}
.pagination li a{
  color:#ffffff;
  font-size:14px;
  width: 20px;
  text-align: center;
}
.active{
  color: #000;
  font-weight: bold;
}
.cus-pagination{
  display: flex;
  justify-content: flex-end;
  padding-right: 1.25rem;
}
