<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        <div class="row">
          <div class="col-lg-10">
            <span>
              {{componentScore.name}}
            </span>
          </div>
          <div class="col-lg-2" >
            <div style="display: flex; align-content: right;">
                <button (click)="goBack()" class="btn btn-cancle">{{'BACK' | translate}}</button>
            </div>
          </div>
        </div>


      </nb-card-header>
      <nb-card-body>
        <div class="card-body cus-body">
          <div class="descAlarm">
            <label>{{'ALARM_DETAIL_PANEL_DESCRIBE' | translate}}:</label>
            <p>{{alarmDetailInfo.descriptionMsg}}</p>
          </div>
          <div class="searchByDate">
            <div class="min-val-filter">
              <label>{{'ALARM_DETAIL_PANEL_THRESHOLD_VALUE' | translate}}:</label>
              <input type="number" min="0" [(ngModel)]="thresholdValue">
            </div>
            <div class="chart-time-filter">
              <label>{{'ALARM_DETAIL_PANEL_TIME' | translate}}</label>
              <input type="date" id="chartStartTime" name="chartStartTime" [(ngModel)]="chartStartTime">
              <span>--</span>
              <input type="date" id="chartEndTime" name="chartEndTime" [(ngModel)]="chartEndTime">
            </div>
            <button type="button" class="btn btn-warning" (click)="onClickLineChartSearch()">
              {{'ALARM_DETAIL_PANEL_SEARCH_BUTTON' | translate}}
            </button>
          </div>

          <div class="topChart" echarts [options]="lineChartOptions" (chartClick)="onlineChartClick($event)" (chartInit)="onChartInit($event, 'line')"></div>
          <div class="bottomChartPanel">
            <div class="headTab">
              <div class="sub-tab" *ngFor="let item of spectrogramTabOptions" (click)="onClickSpectrogramTab(item)" [ngClass]="{'activeTab': currentSpectrogramTab.id == item.id}">
                <a>{{item.name | translate}}</a>
              </div>
            </div>
            <div class="bottomChart" echarts [options]="spectrogramOptions" (chartInit)="onChartInit($event, 'spectrogram')"></div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>