<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>{{'USER_RESET_PASSWORD' | translate}}</nb-card-header>
      <nb-card-body>
           <span style="color:red;">
           {{errorMsg.msg}}
           </span>

        <form (submit)="submitUser()">
          <div class="row">
            <!--
            <div class="col-lg-9">
              <div class="form-group row">
                <label for="inputOldPassword" class="col-lg-2 col-form-label">{{'USER_RESET_OLD__PASSWORD' | translate}}</label>
                <div class="col-lg-9">
                  <input type="password" [(ngModel)]="user.oldPssword" name="oldPssword" class="form-control" id="inputOldPassword" placeholder="{{'USER_RESET_OLD__PASSWORD' | translate}}"  required maxlength="50" #oldPasswordControl="ngModel" [ngClass]="!oldPasswordControl.touched? '' : oldPasswordControl.invalid? 'form-control-danger' : 'form-control-success'">
                </div>
               </div>
              </div>
            -->
            <div class="col-lg-9">
            <div class="form-group row">
              <label for="inputPasswordOne" class="col-lg-2 col-form-label">{{'USER_RESET_NEW_ONE_PASSWORD' | translate}}</label>
              <div class="col-lg-9">
                <input type="password" [(ngModel)]="user.passwordOne" name="passwordOne" class="form-control" id="inputPasswordOne" placeholder="{{'USER_RESET_NEW_ONE_PASSWORD' | translate}}"  required maxlength="50" #passwordOneControl="ngModel" [ngClass]="!passwordOneControl.touched? '' : passwordOneControl.invalid? 'form-control-danger' : 'form-control-success'">
              </div>
            </div>
            </div>
            <div class="col-lg-9">
            <div class="form-group row">
              <label for="inputPasswordTwo" class="col-lg-2 col-form-label">{{'USER_RESET_NEW_TWO_PASSWORD' | translate}}</label>
              <div class="col-lg-9">
                <input type="password" [(ngModel)]="user.passwordTwo" name="passwordTne" class="form-control" id="inputPasswordTwo" placeholder="{{'USER_RESET_NEW_TWO_PASSWORD' | translate}}"  required maxlength="50" #passwordTneControl="ngModel" [ngClass]="!passwordTneControl.touched? '' : passwordTneControl.invalid? 'form-control-danger' : 'form-control-success'">
              </div>
            </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-lg-3 col-lg-2" style=" margin-left: 35%;">
              <button type="submit" class="btn" style="text-transform: none;background-color: #01b27c;font-size: 16px;">{{'USER_SUBMIT' | translate}}</button>
            </div>
            <div class="col-lg-2">
              <button type="button" (click)="onclickCancel()" class="btn" style="text-transform: none;background-color: #888888;font-size: 16px;">{{'USER_CANCEL' | translate}}</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
