//full-width align-center right
.full-width {
  width: 100%;
}

.align-center{
  display: flex;
  align-items: center;
}

  .right {
    display: flex;
    flex-direction: row-reverse;
  }

  .middle {
    float: none;
    display: inline-block;
    vertical-align: middle;
  }

  .middle-right {
    float: right;
    vertical-align: middle;
  }

  .margin-left-1 {
    margin-left: 1rem;
  }

  .img-panel{
    height: 28px;
  }

  .search-item-height{
    height: 28px;
  }

  .search-item-width{
    width:95%;
  }

  .search-button{
    width: 80px;
    margin-left: 18px;
  }

  .edit-button{
    font-size: 1.5rem;
    cursor: pointer;
  }

  .edit-image-item{
    margin: 10px;
    border: 1px solid #ccc;
    justify-content: center;
    text-align: center;
    height: 120px;
    align-items: center;
  }

  .image-item{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 80%;
    margin: auto;
    cursor: pointer;
  }
  .image-item-button{
    justify-content: center;
    text-align: center;
    width: 90%;
    height: 20%;
    margin: auto;
  }

  .img-scale{
    width:auto;
    height:auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }

  .card-oem{
    background-color: #566175 !important;
    color:white
  }
  .card-customer{
    background-color: #E4EAF6 !important;
    color:black
  }

  .v-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .font-15{
    font-size: 1.5rem;
  }

  .font-20{
    font-size: 2rem;
  }

  .align-center{
    display: flex;
    align-items: center;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  

  .min-width-200 {
    min-width: 200px;;
  }

  .min-width-500 {
    //min-width: 500px;;
    white-space: nowrap;
  }

  .pointer {
    cursor: pointer;
  }

  .btn-warning {
    background-color: #01b27c!important;
    font-size: 16px!important;
  }
  
  .btn-success {
    background-color: #01b27c!important;
    font-size: 16px!important;
  }
  
  .btn-cancle {
    background-color: #888888!important;
    font-size: 16px!important;
    font-color: #ffffff!important;
  }
  
  .btn-danger {
    background-color: #f55b63!important;
    font-size: 16px!important;
  }

  .btn {
    text-transform: capitalize!important;
  }