<!--
<pathway [pathList]="pathList"></pathway>
-->
<ngb-accordion #accParent="ngbAccordion" [activeIds]="OEMPanel" type="success" (panelChange)="changeOEMPanel($event,accParent)">
    <ngb-panel id="oem-title" *ngFor="let oem of oemJoins; let iOEM = index;" id="panel-oem-{{iOEM}}" class="bg-success" type="oem">
        <ng-template ngbPanelTitle>
            <div class="card-oem align-center">
                <img class="img-panel" [src]="oem.img">
                <span class="middle margin-left-1 min-width-500">{{oem.name}}</span>
                <div class="full-width align-center right">
                    <span *ngIf="accParent.activeIds.indexOf('panel-oem-'+iOEM) < 0" class="middle icon nb-arrow-dropdown  margin-left-1 font-20 pointer"></span>
                    <span *ngIf="accParent.activeIds.indexOf('panel-oem-'+iOEM)>=0" class="middle icon nb-arrow-dropup  margin-left-1 font-20 pointer"></span>
                    <a (click)="deleteOEM(oem)" class="middle icon nb-trash  margin-left-1 pointer" *ngIf="userRoleId==1">{{'DELETE'| translate}}</a>
                    <a (click)="editOEM(oem)" class="middle icon nb-edit  margin-left-1 pointer"> {{'EDIT'| translate}}</a>
                </div>
            </div>
        </ng-template>
        <ng-template ngbPanelContent>
            <ngb-accordion #acc="ngbAccordion" [activeIds]="CustomerPanel" (panelChange)="changeCustomerPanel($event,acc,oem)">
                <ngb-panel *ngFor="let customerJoin of oem.listCustomerJoin; let iCustomer = index;" id="panel-customer-{{iCustomer}}" type="customer">
                    <ng-template ngbPanelTitle>
                        <div class="card-customer align-center">
                            <img class="img-panel" [src]="customerJoin.img">
                            <span class="middle margin-left-1 min-width-500">{{customerJoin.name}}</span>
                            <div class="full-width align-center right">
                                <span *ngIf="acc.activeIds.indexOf('panel-customer-'+iCustomer) < 0" class="middle icon nb-arrow-dropdown  margin-left-1 font-20 pointer"></span>
                                <span *ngIf="acc.activeIds.indexOf('panel-customer-'+iCustomer)>=0" class="middle icon nb-arrow-dropup  margin-left-1 font-20 pointer"></span>
                                <a (click)="deleteCustomer(customerJoin)" class="middle icon nb-trash  margin-left-1 pointer" *ngIf="userRoleId==1">{{'DELETE'| translate}}</a>
                                <a (click)="editCustomer(customerJoin)" class="middle icon nb-edit  margin-left-1 pointer"> {{'EDIT'| translate}}</a>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="content">
                            <form #ngForm="ngForm" (ngSubmit)="searchEquipment(customerJoin,startDateControl,endDateControl)" novalidate role="form">
                                <div class="row">
                                    <div style="display: flex;flex: 3;justify-content: center;">
                                        <select [(ngModel)]="customerJoin.equipmentTypeCode" name="equipmentTypeCode" id="equipmentTypeCode" class="search-item-height search-item-width">
                                            <option value="">{{"ALL_EQUIPMENT_TYPE" | translate}}</option>
                                            <option *ngFor="let item of listEquipmentType" [value]="item.code">{{item.name}}</option>
                                        </select>
                                    </div>
                                    <div style="display: flex;flex: 3;justify-content: center;">
                                        <input type="text" [(ngModel)]="customerJoin.searchName" name="searchName" id="inputSearchName" placeholder="{{'DEVICE_NAME' | translate}}"
                                            class="search-item-height search-item-width">
                                    </div>
                                    <div style="display: flex;flex: 4;justify-content: center;flex-wrap: nowrap;">
                                        <span>{{'FROM' | translate}}</span>
                                        <input type="date" [(ngModel)]="customerJoin.searchStartDate" name="searchStartDate" id="inputSearchStartDate" placeholder="{{'START_DATE' | translate}}" required #startDateControl="ngModel" [ngClass]="!startDateControl.touched? '' : startDateControl.invalid || startDateControl.isError? 'form-control-danger' : 'form-control-success'">
                                        <span>{{'TO' | translate}}</span>
                                        <input type="date" [(ngModel)]="customerJoin.searchEndDate" name="searchEndDate" id="inputSearchEndDate" placeholder="{{'END_DATE' | translate}}" required #endDateControl="ngModel" [ngClass]="!endDateControl.touched? '' : endDateControl.invalid || endDateControl.isError? 'form-control-danger' : 'form-control-success'">
                                    </div>

                                    <div style="display: flex; flex: 2;align-content: left;">
                                        <button type="submit" class="btn-success search-button">{{'SEARCH' | translate}}</button>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-lg-2" *ngFor="let equipmentModel of customerJoin.subList;">
                                    <div class="edit-image-item" (click)="viewEquipment(equipmentModel)">
                                        <div class="image-item">
                                            <img class="img-scale" [name]="equipmentModel.equipmentTypeCode" [src]="listImg[equipmentModel.equipmentTypeCode]" (click)="assembleEquipment(equipmentModel)">
                                        </div>
                                        <div class="image-item-button">
                                            <span class="menu-icon nb-edit edit-button" (click)="editEquipment(equipmentModel)" *ngIf="userRoleId==1"></span>
                                            <span class="menu-icon nb-trash edit-button" (click)="deleteEquipment(equipmentModel)" *ngIf="userRoleId==1"></span>
                                        </div>
                                    </div>
                                    <div style="text-align: center">
                                        <span class="col-form-label">{{equipmentModel.name}}</span>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="edit-image-item" (click)="addEquipment(customerJoin)">
                                        <div class="image-item">
                                            <span class="icon nb-plus img-scale" style="font-size: 5rem;"></span>
                                        </div>
                                        <div class="image-item-button">
                                            <span class="col-form-label">{{'ADD_EQUIPMENT' | translate}}</span>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <ngb-pagination *ngIf="customerJoin.subList && customerJoin.subList.length>0" class="d-flex justify-content-end" [collectionSize]="customerJoin.listEquipmentModel.length"
                            [page]="customerJoin.page" maxSize="5" [pageSize]="equipmentSize" [boundaryLinks]="true" (pageChange)="pageChange($event, customerJoin)"></ngb-pagination>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
            <div class="card" *ngIf="userRoleId==1">
                <div role="tab" class="card-header card-customer center v-center" style="height: 55px;">
                    <div class="middle margin-left-1 pointer align-center center" (click)="addCustomer(oem)">
                        <span class="icon nb-plus font-15"></span>
                        <span>{{'ADD_CUSTOMER'| translate}}</span>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-panel>
</ngb-accordion>
<div class="card" *ngIf="userRoleId==1">
    <div role="tab" class="card-header card-oem center v-center" style="height: 55px;">
        <div class="middle margin-left-1 pointer align-center center" (click)="addOEM()">
            <span class="icon nb-plus font-15"></span>
            <span>{{'ADD_OEM'| translate}}</span>
        </div>
    </div>
</div>