.img-panel{
    height: 36px;
  }

  .pointer{
    cursor: pointer;
  }

  .button-header{
    margin: 3px;
  }

  .full-screen {
    height: 100%;
  }

  .normal-color {
    background-color: #E4EAF6 !important;
  }

  .component-color {
    background-color: rgba(0, 0, 0, 0.05) !important;
  }

  .font-15{
    font-size: 1.5rem;
  }

  .font-20{
    font-size: 2rem;
  }

  .align-center{
    display: flex;
    align-items: center;
  }

  .center {
    display: flex;
    justify-content: center;
  }

  .full-width {
    width: 100%;
  }

  .min-width-200 {
    min-width: 200px;
  }

  .pointer {
    cursor: pointer;
  }

  .svgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:30vw; /* viewport 的20% */
    height:30vw;
    margin: auto;
    border: 1px solid #ccc;
  }

  .active-sensor {
    border: 1px solid red;
  }

  .normal-sensor {
    border:none;
  }

  .font-15{
    font-size: 1.5rem;
  }

  .color-edit{
    color: #73C6AC
  }

  .color-delete{
    color: #E57C8A
  }

  .full-width {
    width: 100%;
  }
  
  .align-center{
    display: flex;
    align-items: center;
  }
  
    .right {
      display: flex;
      flex-direction: row-reverse;
    }

    .btn-warning {
      background-color: #01b27c!important;
      font-size: 16px!important;
    }
    
    .btn-success {
      background-color: #01b27c!important;
      font-size: 16px!important;
    }
    
    .btn-cancle {
      background-color: #888888!important;
      font-size: 16px!important;
      font-color: #ffffff!important;
    }
    
    .btn-danger {
      background-color: #f55b63!important;
      font-size: 16px!important;
    }

    .btn {
      text-transform: capitalize!important;
    }