<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
	<setting name="logPrefix" value="dao." />
  </settings>
  <typeAliases>
    <package name="com.skf.management"/>
  </typeAliases>
  <mappers>
	<mapper resource="com/skf/management/mapper/AlarmModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/BearingMapper.xml" />
	<mapper resource="com/skf/management/mapper/BearingModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/ComponentMapper.xml" />
	<mapper resource="com/skf/management/mapper/ComponentModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/ComponentTypeModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/CustomerModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/EquipmentModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/EquipmentTypeModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/GearMapper.xml" />
	<mapper resource="com/skf/management/mapper/GearModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/ImageModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/LoginMapper.xml" />
	<mapper resource="com/skf/management/mapper/OEMModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/RoleModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/ScoreModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/SensorModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/UserCustomerMapper.xml" />
	<mapper resource="com/skf/management/mapper/UserCustomerModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/UserMapper.xml" />
	<mapper resource="com/skf/management/mapper/UserModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/UserOEMMapper.xml" />
	<mapper resource="com/skf/management/mapper/UserOEMModelMapper.xml" />
	
	<mapper resource="com/skf/management/sqlservermapper/DboBearingModelMapper.xml" />
	<mapper resource="com/skf/management/sqlservermapper/NodeMapper.xml" />
	<mapper resource="com/skf/management/sqlservermapper/NodeModelMapper.xml" />
  </mappers>
</configuration>








