<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skf.management.sqlservermapper.NodeMapper">
	<select id="getLeafNodes" parameterType="string" resultMap="java.util.List">
		SELECT IDNode FROM diwa.dbo.Node
	</select>
</mapper>