<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>{{bearing.code? ('BEARING_EDIT_TITLE' | translate) : ('BEARING_ADD_TITLE' | translate)}}</nb-card-header>
      <nb-card-body>
        <form  #ngForm="ngForm" novalidate role="form" (submit)="submitBearing()">
          <div class="row">
            <div class="col-lg-9">

              <div class="form-group row">
                <label for="dropdownManual"  class="col-lg-3 col-form-label">{{'BEARING_SEARCH_BY_NUMBER' | translate}}
                </label>
                <div class="col-lg-9">
                  <div class="row full-name-inputs">
                    <div class="col-sm-8 input-group">
                      <div class="input-group mail-btn-group" ngbDropdown #myDrop="ngbDropdown">
                        <input type="text" name="search"  [(ngModel)]="txtSearch" class="btn-outline-primary form-control" id="dropdownManual" ngbDropdownAnchor
                               placeholder="{{'SERIAL_NUMBER' | translate}}" />
                        <div ngbDropdownMenu aria-labelledby="inputSearch">
                          <button *ngFor="let item of listComponent;" type="button" class="dropdown-item" (click)="selectBearingGear(item)">{{item.modelNumber}}</button>

                          <div *ngIf="!listComponent.length" style="min-height: 40px;padding-left: 10px;">{{'NO_DATA_FOUND' | translate}}</div>
                        </div>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-primary btn-icon input-group-text" (click)="searchComponent($event,myDrop)" style="background-color:#01b27c;">
                              <i class="icon nb-search"></i>
                            </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>




              <div class="form-group row">
                  <label for="inputNumber" class="col-lg-3 col-form-label">{{'BEARING_NUM' | translate}}</label>
                  <div class="col-lg-9">
                  <input type="text" [(ngModel)]="bearing.modelNumber" name="modelNumber" class="form-control" id="inputNumber" placeholder="{{'BEARING_NUM' | translate}}"  required maxlength="50" #modelNumberControl="ngModel" [ngClass]="!modelNumberControl.touched? '' : modelNumberControl.invalid? 'form-control-danger' : 'form-control-success'">
                  </div>
              </div>

              <div class="form-group row">
                <label  class="col-lg-3 col-form-label">{{'PICTURE' | translate}}</label>
                <div class="row" style="margin-left: 175px;">
                  <div class="col-lg-3"  *ngFor="let imgItem of imgList;">
                    <div class="edit-image-item"  >
                      <div class="image-item">
                        <div class="img_div_setting">
                          <img class="img-equipment img_setting"  [name]="imgItem.code" [src]="imgDataList[imgItem.code]" >
                        </div>
                       <br>
                        <input type="checkbox"   (click)="checkedImg($event,imgItem)" [checked]="imgItem.code==bearing.imageCode" >
                        <span class="menu-icon nb-trash edit-button" style="margin-left: 30px;" (click)="deleteImg(imgItem)"></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2">
                    <div class="edit-image-item" >
                      <div class="image-item" (click)="chooseFile()">
                        <div>
                          <div id="divImg" class="form-canvas-pop" style="width:80px;height:80px;cursor: pointer;text-align: center;vertical-align: middle;" >
                            <span class="icon nb-plus img-equipment" style="font-size: 5rem;position: absolute;"></span>
                            <img class="form-canvas-pop" id="imgBear"  style="width:80px;height:80px;">
                          </div>
                          <input type="file" #file id="file" (change)="getFilePath()" accept="image/jpg,image.png" style="filter:alpha(opacity=0);opacity:0;width: 0;height: 0;"/>
                          <br>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>



<!--





-->


            <div class="form-group row">
              <label for="inputManufacture" class="col-lg-3 col-form-label">{{'BEARING_FACTORY' | translate}}<span class="danger"> * </span></label>
              <div class="col-lg-9">
                <input type="text" [(ngModel)]="bearing.manufacture" name="manufacture" class="form-control" id="inputManufacture" placeholder="{{'BEARING_FACTORY' | translate}}"  required maxlength="50" #modelFactoryControl="ngModel" [ngClass]="!modelFactoryControl.touched? '' : modelFactoryControl.invalid? 'form-control-danger' : 'form-control-success'">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputDescription" class="col-lg-3 col-form-label">{{'BEARING_DESCRIBE' | translate}}<span class="danger"> * </span></label>
              <div class="col-lg-9">
                <input type="text" [(ngModel)]="bearing.description" name="sescription" class="form-control" id="inputDescription" placeholder="{{'BEARING_DESCRIBE' | translate}}"  required maxlength="50" #descriptionControl="ngModel" [ngClass]="!descriptionControl.touched? '' : descriptionControl.invalid? 'form-control-danger' : 'form-control-success'">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputBpfo" class="col-lg-3 col-form-label">{{'BEARING_BPFO_COEFFICIENT' | translate}}<span class="danger"> * </span></label>
              <div class="col-lg-9">
                <input type="text" [(ngModel)]="bearing.bpfo" name="bpfo" class="form-control" id="inputBpfo" placeholder="{{'BEARING_BPFO_COEFFICIENT' | translate}}"  required maxlength="50" #bpfoControl="ngModel" [ngClass]="!bpfoControl.touched? '' : bpfoControl.invalid? 'form-control-danger' : 'form-control-success'">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputBpfi" class="col-lg-3 col-form-label">{{'BEARING_BPFI_COEFFICIENT' | translate}}<span class="danger"> * </span></label>
              <div class="col-lg-9">
                <input type="text" [(ngModel)]="bearing.bpfi" name="bpfi" class="form-control" id="inputBpfi" placeholder="{{'BEARING_BPFI_COEFFICIENT' | translate}}"  required maxlength="50" #bpfiControl="ngModel" [ngClass]="!bpfiControl.touched? '' : bpfiControl.invalid? 'form-control-danger' : 'form-control-success'">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputBsf" class="col-lg-3 col-form-label">{{'BEARING_BSF_COEFFICIENT' | translate}}<span class="danger"> * </span></label>
              <div class="col-lg-9">
                <input type="text" [(ngModel)]="bearing.bsf" name="bsf" class="form-control" id="inputBsf" placeholder="{{'BEARING_BSF_COEFFICIENT' | translate}}"  required maxlength="50" #bsfControl="ngModel" [ngClass]="!bsfControl.touched? '' : bsfControl.invalid? 'form-control-danger' : 'form-control-success'">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputFtf" class="col-lg-3 col-form-label">{{'BEARING_FTF_COEFFICIENT' | translate}}<span class="danger"> * </span></label>
              <div class="col-lg-9">
                <input type="text" [(ngModel)]="bearing.ftf" name="ftf" class="form-control" id="inputFtf" placeholder="{{'BEARING_FTF_COEFFICIENT' | translate}}"  required maxlength="50" #ftfControl="ngModel" [ngClass]="!ftfControl.touched? '' : ftfControl.invalid? 'form-control-danger' : 'form-control-success'">
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-lg-4 col-lg-2" style=" margin-left: 50%;">
                <button type="submit" [disabled]="!ngForm.form.valid || !bearing.imageCode " class="btn" style="text-transform: none;background-color: #01b27c;font-size: 16px;">{{'BEARING_SUBMIT' | translate}}</button>
              </div>
              <div class="col-lg-2">
                <button type="button" (click)="onclickCancel()" class="btn" style="text-transform: none;background-color: #888888;font-size: 16px;">{{'BEARING_CANCEL' | translate}}</button>
              </div>
            </div>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
