<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
	<setting name="logPrefix" value="dao." />
  </settings>
  <typeAliases>
    <package name="com.skf.management"/>
  </typeAliases>
  <mappers>
	<mapper resource="com/skf/management/mapper/BearingModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/ComponentModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/ComponentTypeModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/CustomerModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/EquipmentModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/EquipmentTypeModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/GearModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/ImageModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/OEMModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/RoleModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/SensorModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/UserCustomerModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/UserModelMapper.xml" />
	<mapper resource="com/skf/management/mapper/UserOEMModelMapper.xml" />
  </mappers>
</configuration>








