@charset "utf-8";
/* CSS Document */

html,body{ width:100%; height:100%;font-size:14px;background:#eee;}
*{
	font-family:"Arial","Microsoft YaHei";
	margin:0;
	padding:0;
	box-sizing:border-box;
	}
ul,ol,li{ list-style:none;}
input,button,textarea,radiobutton{
	outline:none;
	cursor:pointer;
	}
.spinner {
  visibility: hidden!important;
}
button[type=button]{border:0;outline:none;cursor:pointer;}
img {margin:0;padding:0;font-size:0;}

a{color:#333; text-decoration:none;cursor:pointer;}


.login_bg{
    background:url(../../../assets/images/images/User_Login_bg.jpg) center repeat;
    background-size:cover;
    width:100%;
    height:100%;
    padding-top:57%;
	}
.login{
	width:45%;
	height:63%;
	//margin:0 auto;
  margin-top:-38%;
  margin-left:27%;
	background:#f9f9f9;
	color:#999999;
	position:relative;

	}
.userImg{
	position:absolute;
	left:43%;
	top:-45px;
	border:1px solid #d8d8db;
	background:#fff;
	padding:2px;
	width:102px;
	height:102px;
	}
.userImg img{
	width:100%;
	height:100%;
	}
.form_login{
	padding:100px;
	}
.form_login input[type=text]{
	width:100%;
	height:40px;
	border:1px solid #e5e5e8;
	border-radius:2px;
	padding:0 35px;
	margin-bottom:20px;
	}
.form_login input[type=text]:focus{
	border:1px solid #4599e4;
	box-shadow:0 0 2px #0CF;
	}
	.form_login input[type=password]{
	width:100%;
	height:40px;
	border:1px solid #e5e5e8;
	border-radius:2px;
	padding:0 35px;
	margin-bottom:20px;
	}
.form_login input[type=password]:focus{
	border:1px solid #4599e4;
	box-shadow:0 0 2px #0CF;
	}
.userIcon{
	background:url(../../../assets/images/images/UserIcon.png) 10px center no-repeat;
	}
.userIcon:focus{
	background:url(../../../assets/images/images/UserIcon-focus.png) 10px center no-repeat;
	}
.keyIcon{
	background:url(../../../assets/images/images/keyIcon-normal.png) 10px center no-repeat;
	}
.keyIcon:focus{
	background:url(../../../assets/images/images/keyIcon-focus.png) 10px center no-repeat;
	}
button[type=button]{
	width:100%;
	height:40px;
	color:#fff;
	text-align:center;
	font-size:16px;
	border-radius:6px;
	border:1px solid #3476b5;
	background:#377ec0;
	margin-top:20px;
	}
button[type=button]:active{
	background:#49a0ee;
	}













